.profile__info {
    margin: 0 0 0 30px;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-area: "info";
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    column-gap: 18px;
    row-gap: 16px;

}

@media screen and (max-width: 1179px) {
    .profile__info {
        margin-left: 0;
        grid-template-areas:
            "name edit"
            "hobby hobby";
        margin: 0;
        column-gap: 10px;
        row-gap: 14px;
        margin-top: 26px;
        text-align: center;
    }
}